@import url('https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');

body {
  margin: 0;
  font-family: 'Lato', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #261863;
}

html,
body,
#root,
#app>div {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}